.anchor::before {
    /* z-index: ; */
    display: block;
    height: 50px;
    content: "";
}

body {
    scroll-behavior: smooth;
    margin-bottom: 200px;
}

p {
    font-size: 1.1rem;
    line-height: 1.7rem;
}

li {
    font-size: 1.1rem;
    line-height: 2rem;
}

img {
    max-height: 50vh;
}

#totop{
    position: fixed;
    bottom: 1rem;
    right: 2rem;
    z-index: 2;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: var(--borderRadius);
}

#totop img{
    height:30px;
    width: 30px;
    margin: 0;
}