#qlinks{
    display: inline-block;
    position: absolute;
    border-radius: var(--borderRadius);
    text-align: center;

    bottom: 0;
    left: 50%;
    -ms-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
}
#qlink-drop.dropdown-item{
    width: 17vw !important;
    padding: .5rem !important;
}

.dropdown-toggle::after{
    display: none !important;
}

.dropdown-item:hover{
    background-color: #171717 !important;
}
#qlink-drop{
    /* max-width: 17vw !important; */
    min-width: 0 !important;
    border-radius: var(--borderRadius);
}

.btn:focus{
    outline: none !important;
    box-shadow: none !important;
}

#qlinks{
    display: inline-block;
    position: absolute;
    border-radius: var(--borderRadius);

    bottom: 0;
    left: 50%;
    -ms-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
}
#qlinks > h5 {
    font-size: 1.5rem;
}
.qlink{
    max-height: 10vh;
    max-width: 17vw;
    /* width: 10vw; */

}

@media(max-width:767px){
    #qlinks{
        bottom: -60px
    }
}