.status-section{
    /* min-height: calc(100vh - 50px); */
    height: calc(100vh - 59px);
    /* position: relative; */
    text-align: center;
    /* font-size: 2rem; */
    padding: 10px;
    /* position: absolute; */
    /* top: 20%; */
    /* left: 50%; */
    /* -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
    /* border: 1px solid red; */
    font-weight: 600;
}

.announcement-full{
    display: inline-block;
    position: absolute;
    /* font-size: 1vh; */
    /* border: 1px solid red; */

    top: calc(43vh + 59px);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.announcement-text{
    /* background-color: var(--darkBgColor)!important; */
    padding: 10px!important;
    border-radius: var(--borderRadius);
    /* border-radius: 10px; */
}

.status-text{
    margin: 0;
    padding: 10px;
    padding-top: 1px;
    border-radius: var(--borderRadius);
    display: block;
}

.status{
    font-size: calc(1.5rem + 3.3vw);

    position: absolute;
    text-align: center;
    left: 50%;
    top: calc(23vh);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}



@media(max-width: 767px){
    .announcement-full{
        top: calc(26vh + 160px)!important;
    }
}

@media(min-width: 1200px){
    .status{
        font-size:4rem;
    }
    
    h5{
        font-size: 2rem!important;
    }
}