:root{
    --borderRadius: 10px;
    --accentColor2: aqua;
    --darkBgColor: #222;

}

body{
    background-image: url('/marble.jpg');
    background-color: var(--darkBgColor);
    background-repeat: repeat-y;
    color: white;
    -webkit-background-size: contain!important;
    -moz-background-size: contain!important;
    -o-background-size: contain!important;
    background-size: contain!important;
}

p{
    font-size: 1.2rem;
    line-height: 1.7rem;
}

.bg-dark{
    background-color: var(--darkBgColor)!important;
}

html{
    height: 100%;
}